<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popular Posts</title>
    <link rel="stylesheet" href="aside-blog.css">
</head>

<body>
    <aside class="popular-posts">
        <h3>Popular Posts</h3>
        <ul>
            <li>
                <a href="https://iandloveandyou.com/blogs/pet-blog" target="_blank">
                    <span>The Secret Life of Pets</span>
                </a>
            </li>
            <li>
                <a href="https://moderndogmagazine.com/" target="_blank">
                    <span>How to Teach Your Dog to Talk</span>
                </a>
            </li>
            <li>
                <a href="https://post.bark.co/" target="_blank">
                    <span>10 Amazing Cat Facts</span>
                </a>
            </li>
            <li>
                <a href="https://mybrownnewfies.com/" target="_blank">
                    <span>Preparing Your Home for a New Puppy</span>
                </a>
            </li>
        </ul>
    </aside>
</body>

</html>