<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <nav class="navbar-one">
        <div class="left">
            <div class="email">
                <i class="fa-solid fa-envelope"></i>
                <span>info@tailwaggersshop.com</span>
            </div>
            <div class="phone">
                <i class="fa-solid fa-phone"></i>
                <span>+1 (555) 789-PAWS</span>
            </div>
        </div>
        <div class="right">
            <div class="search">
                <label for="search"></label>
                <input type="search" id="search" placeholder="Search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>

            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-twitter"></i>
            <i class="fa-brands fa-opencart"></i>

        </div>
    </nav>
    <nav class="navbar-two">
        <div class="logo">
            <a href="/index.html"><img src="../images/Tail_Waggers_Logo_Transparent.png" alt="brand-logo"></a>
        </div>
        <div class="nav-links">
            <ul class="map">
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>
</body>

</html>