.body {
  margin: 0;
  display: flex;
}

.featured-blog {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.blog-post {
  max-width: 800px;
  text-align: center;
}

.blog-cards-container {
  display: flex;
  overflow-x: auto;
  padding: 16px 0;
  gap: 16px;
  width: 100%;
}

.blog-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  margin: 8px;
  flex: 0 0 auto;
  width: 500px;
}

.blog-card img {
  width: 100%;
  height: 350px;
}
