.product-container-firstrow {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  width: 300px;
  margin: 8px;
}

.product-container-secondrow {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

img {
  width: 100%;
}

.product-container-thirdrow {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
