.body {
  margin: 0;
}

.banner-container {
  display: flex;
  background-image: url(images/happy-lab.jpeg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 70vh;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

li {
  list-style: none;
}
